body 
{
    font-family: 'Courier New', Courier, monospace;
}

.page-container 
{
    width: 1280px;
    margin: 0 auto; 
}

.logo 
{
    font-size: 80px;
    margin: 65px 0;
}

      
.blue /* makes our logo characters blue */
{
    color: #4bcaff;
}

.logo-link:link, .logo-link:visited 
{
    color: #000;
    text-decoration: none;
}
/* end of logo */


.top-nav
{
    background-color: #35444f;
    font-size: 0;
    margin-bottom: 50px;
    text-align: center;
}

.top-nav-item 
{
    font-size: 22px;
    display: inline-block;
    height: 70px;
    padding: 0 40px;
    text-align: center;
    line-height: 70px;
}

.top-nav-item:hover 
{
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
    padding: 0 39px;
}

.top-nav-link:link, .top-nav-link:visited
{
    color: #fff;
    text-decoration: none;
} 
/*end of top navigation*/


.left-nav
{
    display: inline-block;
    width: 342px;
    height: 398px;
    border: 1px solid #35444f;
    margin-right: 50px;
}

.left-nav-item 
{
    height: 20%;
    padding-left: 40px;
    font-size: 22px;
    line-height: calc(398px/5);
}

.left-nav-item:hover 
{
    background-color: #dbdbdb;
    padding-left: 70px;
}

.left-nav-item:hover .left-nav-link 
{
    color: #000;
}

.left-nav-link:link, .left-nav-link:visited 
{
    color: #485863;
    text-decoration: none;
}
/* end of left navigation */


.image
{
    width: 320px;
    height: 380px;
}

.image-text-wrapper
{
    display: inline-block;
    vertical-align: top;
}

.image-container 
{
    border: 1px solid #000;
    display: inline-block;
    width: 874px;
    height: 525px;
    vertical-align: top;
    text-align: center;
    line-height: 526px;
}

.image-container:hover .image
{
    width: 360px;
    height: auto;
    transition: width .2s linear .1s;
}
/* end of image-container */


.text-container
{
    width: 816px;
}

.paragraph
{
    font-size: 18px;
    margin-top: 60px;
    line-height: 1.5em;
}
/* end of text */


.footer
{
    background-color: #b4b7ba;
    padding:0 40px;
    height: 70px;
    margin-top: 60px;
    width: calc(100% - 80px);
}

.bottom-nav
{
    font-size: 0;
    display: inline-block;
}

.bottom-nav-item 
{
    font-size: 22px;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    padding: 0 10px;
}


.bottom-nav-link:link, .bottom-nav-link:visited
{
    color: #010101;
    text-decoration: none;
}

.bottom-nav-item:hover .bottom-nav-link
{
    color: #3181a6;
    text-decoration: underline;
}
/* end of bottom navigation */


.copyright 
{
    margin-left: 140px;
    font-size: 22px;
    color: #010101;
}
/* end of copyright */