.page-container 
{
    width: 1116px;
    height: 768px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/background.png');
    margin: 0 auto;
    padding: 0 125px;
    background-size: cover;
    position: relative;
    font-family: 'Courier', monospace;
    color: #fff;
    font-weight: 550;
}

.header
{
    display: inline-block;
    padding: 50px 30px 10px;
    height: 44px;
    width: 1056px;
    line-height: 1.5em;
}

.logo-link:link, .logo-link:visited
{
    display: inline-block;
    color: inherit;
}

.logo-link:hover
{
    color: #f26522;
}

.logo-link:hover .logo-image-container
{
    background-image: url(../images/logo-hover.png);
}

.logo-image-container
{
    background-image: url(../images/logo.png);
    height: 44px;
    width: 46px;
    position: absolute;
    left: 155px;
}

.logo-text
{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    float: left;
    margin-left: 56px;
}

.logo-text-down
{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 56px;
    float: left;
    clear: left;
}

.header-info
{
    float: right;
    height: 100%;
}

.email
{
    float: right;
}

.email:link
{
    text-decoration: none;
    color: inherit;
}

.number
{
    float: right;
    clear: right;
}

.number:link
{
    text-decoration: none;
    color: inherit;
}

.grid
{
    width: 100%;
    height: 630px;
}

.card-link:link, .card-link:visited
{
    text-decoration: none;
    color: inherit;
    float: left;
    margin: 30px;
    position: relative;
}

.card-link:hover .card-caption
{
    color: #f26522;
}

.card-window
{
    font-size: 18px;
    position: absolute;
    opacity: 0; 
    height: 0px; 
    width: calc(100% - 40px);
    bottom: 54px;
    background-color: #f26522;
    line-height: 63px;
    padding: 0 20px;
}

.card-link:hover .card-window
{   
    height: 63px;
    opacity: 1;
    transition: .4s ease-in-out;
}

.card-window-details
{
    display: inline;
    padding-right: 10px;
    font-size: 11px;
    position: relative;
    right: -100px;
    bottom: -10px;
}

.card-window-details::after
{
    content: '';
    display: inline-block;
    border: solid #f8b18f;
    border-width: 0 2px 2px 0;
    padding: 2px;
    transform: rotate(-45deg);
    margin-left: 10px;
}

.card-window-price
{
    display: inline;
    position: relative;
    top: -10px;
    font-size: 8px;
}

.card-window-price-down
{
    display: inline;
    font-size: 15px;
    position: relative;
    left: -30px;
    bottom: -10px;
}

.card-image
{
    border: 2px solid;
    border-image-source: linear-gradient(#fff, transparent);
    border-image-slice: 1; 
}

.card-caption
{
    font-size: 18px;
    height: 54px;
    line-height: 54px;
    text-align: center;
}

.footer
{
    text-align: center;
}


