body {
    margin: 0;
    padding: 0;
}

.page-container {
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
    width: 1280px;
    margin: 0 auto;
    font-size: 0;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.nav {
    font-size: 16px;
    list-style: none;
    line-height: 100px;
    margin: 0 110px;
}

.nav-item {
    text-align: center;
    display: inline-block;
    height: 100px;
    width: 240px;
}

.nav-link:link {
    text-decoration: none;
    color: #16a085;
    text-transform: uppercase;
    display: block;
}

.nav-link:visited {
    color: #16a085;    
}

.image {
    width: 1280px;
    height: 790px;
}

.heading {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-size: 16px;
    padding-bottom: 20px;     
}


.text {
    font-size: 12px;
    padding: 20px 0;
    line-height: 1.5em;
}

.main {
    background-color: #f5f6f7;
    text-align: center;
    padding: 60px 110px 90px;
}

.button {
    display: inline-block;
    font-size: 12px;
    background-color: #16a085;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
}

.button:link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.footer {
    text-align: right;
    height: 100px;
    padding-right: 110px;
    font-size: 12px;
    line-height: 100px;
}
